name: Production Deploy

on:
  push:
    branches: ["Test"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run App
        env:
          API_KEY: 'key'
        run: python app.py