name: Production Deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Step (FAIL ON PURPOSE)
        run: |
          echo "Simulating failure..."
          exit 1   # <-- guaranteed failure